In [10]:
import pandas as pd

In [11]:
df = pd.read_parquet('./Process/output_engineering.parquet')

In [12]:
df.head()

,ad_id,lat,lon,byggear_cat,ownership_cat,property_type_cat,energy_label
0,261320756,60.38086,5.22157,1,2,1,5
1,261047389,59.91960,10.57280,1,1,2,5
2,260995104,66.29020,14.09350,1,1,2,5
3,260891920,58.95740,5.68380,1,2,1,5
4,260886553,61.45764,5.90090,1,2,3,5

In [9]:
df.corr()['energy_label']

ad_id                0.036103
lat                  0.052552
lon                  0.064899
byggear_cat         -0.824340
ownership_cat        0.067333
property_type_cat    0.105853
energy_label         1.000000
Name: energy_label, dtype: float64