In [62]:
import pandas as pd
import sklearn as sk 
from sklearn import datasets
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split

In [63]:
%%bash 
pwd

/Users/thibaud/Documents/GitHub/CLimateHackathon2022/Modelling

In [64]:
df = pd.read_parquet('../Process/output_engineering.parquet')

In [65]:
df.head()

,ad_id,lat,lon,byggear_cat,ownership_cat,property_type_cat,energy_label,elevation
0,261320756,60.38086,5.22157,1,2,1,5,115.599495
1,261047389,59.91960,10.57280,1,1,2,5,76.027534
2,260995104,66.29020,14.09350,1,1,2,5,61.182472
3,260891920,58.95740,5.68380,1,2,1,5,16.078333
4,260886553,61.45764,5.90090,1,2,3,5,62.790955

In [66]:
df.columns

Index(['ad_id', 'lat', 'lon', 'byggear_cat', 'ownership_cat',
       'property_type_cat', 'energy_label', 'elevation'],
      dtype='object')

In [73]:
features = ['byggear_cat','elevation']
target= ['energy_label']

In [74]:
X = df[features]
y = df[target]

In [75]:
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state = 0)

from sklearn.tree import DecisionTreeClassifier
dtree_model = DecisionTreeClassifier(max_depth = 2 ).fit(X_train, y_train)
y_pred = dtree_model.predict(X_test)

In [76]:
cm = confusion_matrix(y_test, y_pred)

In [77]:
print(cm)

[[  0   0   8   0   0   0   0]
 [  0   0 110   8   0   3   0]
 [  0   0 149  60   0   2  19]
 [  0   0  75 184   0  16  23]
 [  0   0   3  90   0 111  41]
 [  0   0   0  31   0 182 143]
 [  0   0   3   6   0  54 393]]

In [78]:
from sklearn.metrics import accuracy_score

accuracy_score(y_test, y_pred)

0.5297549591598599